# Bağımlılıklar
node_modules/

# Çevresel değişkenler ve gizli API anahtarları
.env

# İşletim sistemi kalıntıları (Örn: macOS)
.DS_Store

# Log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*